.secondary-bg {
    background-color: #0071e2;
    
}

.onwrite {
    width: 100px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

.onwrite:focus {
    width: 250px;
}

.tool-bar {
    border-radius: 30px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

/* 
.fab-exp {
    z-index: 1060;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: white;
} */

.fab-exp {
    position: relative;
    left: -25px;
    color: white;
} 


.Large-card {
    border-bottom-right-radius: 24px;
    border-top-left-radius: 24px;
    width: 95%;
    height: 95%;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}

.mat-card {
    display: flex;
    flex-direction: column;
}

.mat-card-header {
    flex-shrink: 0;
}

.mat-card-content {
    flex-grow: 1;
    overflow: auto;
}