<mat-card class="p-5" style="transition: none !important;box-shadow: none !important;">
  <mat-card-title style="font-size: 24px">Empty state due to no initial content</mat-card-title>
  <mat-card-subtitle style="font-size: 24px">use a primary and secondary action buttons to add different possible content</mat-card-subtitle>
  <mat-card-content >
    <div layout="column" layout-align="center center" class="tc-grey-500 mat-typography pad-lg" style="font-size: 24px">
      <mat-icon svgIcon="juge-hammer" ></mat-icon>
      <h1>No blog posts</h1>
      <h2>You have not created any posts</h2>
      <button mat-raised-button color="accent" class="text-upper" [routerLink]="['post/affair']">Create Post</button>
    </div>
    <!-- end pattern -->
  </mat-card-content>
</mat-card>
